<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
	<Appenders>
		<File name="default" fileName="log/hometv-master-server.log">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</File>
	</Appenders>
	<Loggers>
		<Root level="warn">
			<AppenderRef ref="default" />
		</Root>
		<Logger name="ch.wellernet.hometv.master" level="info" />
	</Loggers>
</Configuration>